body {
	overflow: hidden;
}

.splash, .home {
	background: url(../img/logo-ik.png) center bottom no-repeat;
	background-size: 40%;
}

/*SPLASH*/
/*.splash .texte {
	height: 240px;
	overflow-y: scroll;
}
*/
.ui-mobile-viewport .splash .ui-link {
	color: #333;
	font-weight: normal;
	text-decoration: none;
}

.ui-mobile, .ui-mobile .ui-page {
	min-height: 0;
}