@import 'nib'

global-reset()

*
  box-sizing: border-box

@import 'webfonts'

// Variables

$primary = #BBD029 || rgb(187,208,41); // green claire
$institut = #658833 || rgb(101,136,51); // green foncé
$secondColor = #E3D9C0 || rgb(227,217,192); // marron claire
$titreColor = #534741 || rgb(83,71,65); // marron fonce
$infoBulleNotification = #d0470a || rgb(208,71,10); // rouge
$ombreHeaders = #8C572C


/*  COMMUN  */

body
  font-family: "scadabold"
  -webkit-font-smoothing: antialiased
  line-height: 1.2em
  color: $titreColor // #534741

a
  text-decoration: none

/*  UTILITAIRES */
table
  // display: table
  width: 100%
  clearfix()

.cell
  // display: table-cell
  float:left

.bouton
  display: block

hidetext()
  font: 0/0 a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0

centerBlock()
  margin: 0 auto


/* STRUCTURE */
.viewport
  position: fixed
  width: 100%
  height: 100%
  opacity: 0
  -webkit-transition: opacity .5s
  background:  url('images/bois-brun-fonce.png')

/*  ZONE DE CONTENUS */

.content-main
  width: 100%;

.page
  position: absolute
  width: 100%
  height: 100%
  box-shadow: 0 0 20px rgba(0,0,0,0.5)
  overflow-y: scroll
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  -webkit-transition: -webkit-transform .2s ease
  -webkit-transform-style: preserve-3d
  -webkit-transform: translate3d(0,0,0)

/* PAGE INNER*/

.page-inner
  margin: 3% auto

header,
footer
  width: 100%;

.page-inner
  h1
    hidetext()
    background: url('images/logo-app.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center bottom
    min-height: 88px //288px
    width: 72%
    centerBlock()

.logo
  min-height:  75px // 340px;
  background: url('images/logo-ik-couleur.png');
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center
  width: 23%
  centerBlock()


.nav-main
  font-size: 130%
  text-shadow: 0 2px 2px #000
  margin: 4% auto
  span
    text-transform: uppercase
    color: $primary
    display: block
    margin-bottom: .2em
  ul
    width: 90%
    centerBlock()
  li
    border-image:  url("images/nav-main-hr.png")  100% 0 0
    border-width: 5px

    &:last-child
      border-image: url("images/nav-main-hr.png") 100% 0 100% 0

    &:hover,
    &:active
      background: -webkit-linear-gradient(left, rgba(#e2e2e0, 0) 2%,rgba(#e2e2e0, .08) 3%,rgba(#e2e2e0, .12) 16%,rgba(#c4ce7b , .6) 32%,rgba($primary, .9) 50%,rgba(#c4ce7b , .6) 75%,rgba(#e2e2e0, .12) 90%,rgba(#e2e2e0, .08) 97%, rgba(#e2e2e0, 0) 98%)
      & a,
      & span
        color: $titreColor
        text-shadow: 0 1px 1px #fff

  a
    color: $secondColor
    padding: .4em 0
    position: relative
    padding-left: 35%

    &:before
      content: ""
      display: block
      position: absolute
      background-image: url('images/sprite-menu-picto.png')
      background-repeat: no-repeat
      background-position: 0 0
      width: 57px
      height: 57px
      left: 9%
      top: 0.2em

    &.tous:before
      background-position: -57px 0
    &.aide:before
      background-position: -114px 0
    &.lecon:before
      background-position: -171px 0
    &.infos:before
      background-position: -228px 0





[class*="content"]
  background: transparent url('images/bois-brun-fonce.png')

.content-header
  position: fixed
  top: -100px
  width: 100%
  color:  $secondColor
  z-index: 10;
  -webkit-transition: all .2s

  h1
    margin: 5px 10px;
    line-height: 40px;
    text-align: left;
    font-size: .9em
    position: relative
    margin-left 3em
    top 6px

    span
      color: $primary
      position: absolute
      top -1em


  .picto
    position: absolute
    background: transparent url('images/sprite-menu-picto-30px.png') -30px -30px no-repeat
    left -2.4em
    top -2px
    &:hover
      background: transparent url('images/sprite-menu-picto-30px.png') -30px -30px no-repeat




.content-footer
  text-transform: uppercase
  position: fixed;
  width: 100%;
  top: 100%;
  z-index: 10;
  -webkit-transition: all .2s linear
  box-shadow 0 -1px 5px $ombreHeaders

  ul
    width 100%
  a
    display: block
    color: $primary
    padding: 3px 0
    white-space: nowrap
    font-size: .7em
    position: relative

    &:active,
    &:hover
      color: $secondColor

  .on
    a
      color: $secondColor

  .cell
    text-align: center
    width: 25%


.picto
  width: 30px
  height: 30px
  display block
  margin: 0 auto
  background: transparent url('images/sprite-menu-picto-30px.png') 0 0 no-repeat

  &:hover,
  &:active,
  .on &,
  a:hover &,
  a:active &
    background: transparent url('images/sprite-menu-picto-30px.png') 0 -30px no-repeat

  .determiner a &
    background: transparent url('images/sprite-menu-picto-30px.png') -60px 0 no-repeat
    &:hover,
    &:active
      background: transparent url('images/sprite-menu-picto-30px.png') -60px -30px no-repeat
  .determiner a:hover &,
  .determiner a:active &
    background: transparent url('images/sprite-menu-picto-30px.png') -60px -30px no-repeat

  .cueillette &
    background: transparent url('images/sprite-menu-picto-30px.png') -30 * 5px 0 no-repeat
    &:hover,
    &:active
      background: transparent url('images/sprite-menu-picto-30px.png') -30 * 5px -30px no-repeat
  .cueillette a:hover &,
  .cueillette a:active &
    background: transparent url('images/sprite-menu-picto-30px.png') -30 * 5px -30px no-repeat

  .tous &
    background: transparent url('images/sprite-menu-picto-30px.png') -30px 0 no-repeat
    &:hover,
    &:active
      background: transparent url('images/sprite-menu-picto-30px.png') -30px -30px no-repeat
  .tous a:hover &,
  .tous a:active &
    background: transparent url('images/sprite-menu-picto-30px.png') -30px -30px no-repeat

.tous .picto
  background: transparent url('images/sprite-menu-picto-30px.png') -30px -30px no-repeat


.infoBulleNotification
  position: absolute
  width 16px
  height 16px
  line-height: 16px
  display block
  font-size: .8em
  color: white
  background  $infoBulleNotification
  border 1px solid white
  // padding 1px
  border-radius 50%
  top: 9%
  left: 58%


.header-tous
  box-shadow 0 1px 5px $ombreHeaders





/* HEADER to clean*/


.header-on {
  top: 0;
}

.header-tous .champignons {
  display: none;
}

.header-tous .tous {
  display: block;
}

.header-champignon .champignons {
  display: block;
}

.header-champignon .tous {
  display: none;
}

.content-header .table {
  position: absolute;
  top: 12px;
  right: 10px;
  width: auto;
}

.content-header a {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  background-image: url(images/boutons-tous.png);
  background-repeat: no-repeat;
}

.header-tous li + li a {
  background-position: -50px 0;
}

.header-tous li + li + li a {
  background-position: -100px 0;
}

.header-tous .on a {
  background-position: 0 -50px;
}

.header-tous li + .on a {
  background-position: -50px -50px;
}

.header-tous li + li + .on a {
  background-position: -100px -50px;
}

.content-header .back {
  background-position: -150px 0;
}

.content-header .on .back, .content-header .back:active {
  background-position: -150px -50px;
}

.content-header .cueillette {
  background-position: -200px 0;
}
.content-header .on .cueillette, .content-header .cueillette:active {
  background-position: -200px -50px;
}






/*CHAMPS RECHERCHE*/

.search
  position: relative
  margin: 1px -10px
  padding: 6px 0
  padding-top: 15%
  .inner
    margin: 0 10px
    position: relative

  input
    display block
    width: 97%
    padding: 4px 5px;
    margin: 0 auto;
    border: 0 none;
    border-radius: 4px;
    font-size: 0.8em
    padding-left: 30px

    &:focus
      outline-color: lighten($ombreHeaders, 70%)

  .loupe
    display block
    width 22px
    height 22px
    position: absolute
    background transparent url('images/search-21px.png') 0 0 no-repeat
    left: 9px
    top: 2px

  .bouton
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 6px;
    top: 50%;
    margin-top: -15px;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    opacity: 0.3
    &:active
      opacity: 1


/*  FILTRES */

.filtres
  margin: 0 6px
  font-family: 'fjalla_oneregular'
  .cell
    width (100/3)%
  a
    display block
    color lighten($titreColor, 60%)
    padding 6px 0
    text-align center
    font-size .9em
    text-transform uppercase

    &:active
      font-weight bold

  .on
    a
      color $titreColor






/* VUE EN LIST */

// #tous .page-inner,
// .slide

#tous,
.slide
  background: transparent url("images/paper-background.jpg") center center

a.inner
  color: $titreColor
  font: 120%  'fjalla_oneregular'

.liste
  margin: 1% 0
  li
    width: 90%
    border-image:  url("images/nav-main-hr.png")  100% 0 0
    border-width: 2.2px
    centerBlock()

    &:last-child
      border-image: url("images/nav-main-hr.png") 100% 0 100% 0


.activeClass
  &:hover
    background: -webkit-linear-gradient(left, rgba(#e2e2e0, 0) 2%,rgba(#e2e2e0, .08) 3%,rgba(#e2e2e0, .12) 16%,rgba(#c4ce7b , .6) 32%,rgba($primary, .9) 50%,rgba(#c4ce7b , .6) 75%,rgba(#e2e2e0, .12) 90%,rgba(#e2e2e0, .08) 97%, rgba(#e2e2e0, 0) 98%)
    color: $titreColor
    text-shadow: 0 1px 1px #fff





/*VUE EN LISTE*/

.liste li {
  // border: 1px solid #aaa;
  // border-width: 1px 0;
  clear: both;
  // margin-bottom: -1px;
}

.liste .inner {
  margin: 5px 0;
  display: table;
}

.liste .vignette, .liste .textes {
  display: table-cell;
  vertical-align: middle;
}

.liste .textes {
  padding-left: 10px;
}

.liste .vignette {
  width: 24%;
}




/*VUE EN GRILLE*/

.grille li {
  width: 33.33%;
  float: left;
  font-size: 0.80em;
  line-height: 1.1em;
}

.grille li:nth-child(3n+4) {
  clear: left;
}

.grille li:last-child {
  margin-bottom 4.8em;
}

.grille .inner {
  margin: 5%;
}





.text
  line-height 1.2

.nomLatinChampignon
  font-family "sofiaregular"

.familleChampignon
  font-size: .5em
  font-weight 100
  padding-right 17px
  text-align right

  .grille &
    padding-right 0

.nom
  span
    display: inline-block
    width:100%


.liste-champignons
  &.liste
    margin-bottom 4.8em
    li
      @extend  .activeClass



.slide-inner
  h2
    font-family fjalla_oneregular
    font-size 2em
    line-height: 1.2
    text-align center

  &>h3
    @extend .slide-inner h2
    font-family "sofiaregular"
    font-size 1.5em
    margin-bottom: .6em

  >div
    margin-bottom: .6em
    &>h3
      color $institut
      text-transform uppercase














/*PAGE CHAMPIGNON*/

.page-champignon .page-inner {
  margin: 60px 10px;
}
.page-champignon .diaporama {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}

.page-champignon .diaporama img {
  display: block;
  margin: 0 auto;
}

/* PAGE TOUS */

.page-tous .page-inner {
  margin: 50px 10px;
}

/*LISTES DE CHAMPIGNONS*/

.liste-champignons a {
  display: block;
}




.vignette img {
  max-width: 100%;
  height: auto;
}

/* FICHES CHAMPIGNON */

.page-champignon {
  overflow-y: hidden;
}

.page-champignon .slides {
  height: 100%;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  -webkit-transform: translate3d(0,0,0);
}

.page-champignon .slide {
  height: 100%;
  overflow-y: scroll;
  float: left;
  -webkit-transform: translate3d(0,0,0);
}

.page-champignon .slide-inner {
  margin: 60px 10px;
}



















// /*CHAMPS RECHERCHE*/

// .search {
//   position: relative;
//   margin: 1px -10px;
//   padding: 10px 0;
//   background-color: #999;
// }

// .search .inner {
//   margin: 0 10px;
// }

// .search input {
//   display: block;
//   width: 97%;
//   padding: 4px 5px;
//   margin: 0 auto;
//   border: 0 none;
//   border-radius: 4px;
//   font-size: 0.8em;
// }

// .search .bouton {
//   display: none;
//   position: absolute;
//   width: 30px;
//   height: 30px;
//   right: 6px;
//   top: 50%;
//   margin-top: -15px;
//   background-image: url(images/close.png);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 60%;
//   opacity: 0.3;
// }

// .search .bouton:active {
//   opacity: 1.0;
// }

// /*VUE EN GRILLE*/

// .grille li {
//   width: 33.33%;
//   float: left;
//   font-size: 0.80em;
//   line-height: 1.1em;
// }

// .grille li:nth-child(3n+4) {
//   clear: left;
// }

// .grille li:last-child {
//   margin-bottom: 50px;
// }

// .grille .inner {
//   margin: 5%;
// }

// /*VUE EN LISTE*/

// .liste li {
//   border: 1px solid #aaa;
//   border-width: 1px 0;
//   clear: both;
//   margin-bottom: -1px;
// }

// .liste .inner {
//   margin: 5px 0;
//   display: table;
// }

// .liste .vignette, .liste .textes {
//   display: table-cell;
//   vertical-align: middle;
// }

// .liste .textes {
//   padding-left: 10px;
// }

// .liste .vignette {
//   width: 24%;
// }

// /*HEADER*/

// .content-header {
//   position: fixed;
//   top: -100px;
//   width: 100%;
//   background-color: #333;
//   color: #999;
//   z-index: 10;
//   -webkit-transition: all .2s;
// }

// .content-header h1 {
//   margin: 5px 10px;
//   line-height: 40px;
//   text-align: left;
//   font-size: 1.2em;
// }

// .header-on {
//   top: 0;
// }

// .header-tous .champignons {
//   display: none;
// }

// .header-tous .tous {
//   display: block;
// }

// .header-champignon .champignons {
//   display: block;
// }

// .header-champignon .tous {
//   display: none;
// }

// .content-header .table {
//   position: absolute;
//   top: 12px;
//   right: 10px;
//   width: auto;
// }

// .content-header a {
//   width: 24px;
//   height: 24px;
//   margin-left: 20px;
//   background-image: url(images/boutons-tous.png);
//   background-repeat: no-repeat;
// }

// .header-tous li + li a {
//   background-position: -50px 0;
// }

// .header-tous li + li + li a {
//   background-position: -100px 0;
// }

// .header-tous .on a {
//   background-position: 0 -50px;
// }

// .header-tous li + .on a {
//   background-position: -50px -50px;
// }

// .header-tous li + li + .on a {
//   background-position: -100px -50px;
// }

// .content-header .back {
//   background-position: -150px 0;
// }

// .content-header .on .back, .content-header .back:active {
//   background-position: -150px -50px;
// }

// .content-header .cueillette {
//   background-position: -200px 0;
// }
// .content-header .on .cueillette, .content-header .cueillette:active {
//   background-position: -200px -50px;
// }


// .vignette img {
//   max-width: 100%;
//   height: auto;
// }

// /* FICHES CHAMPIGNON */

// .page .slides {
//   float: left;
//   display: inline;
//   -webkit-transition-property: -webkit-transform;
//   -webkit-transition-timing-function: ease-out;
//   -webkit-transform: translate3d(0,0,0);
// }

// .page .slide {
//   float: left;
//   padding: 50px 0;
//   -webkit-transform: translate3d(0,0,0);
// }






// /*COMMUN*/

// body {
//   font-family: "HelveticaNeue-Ligth", "HelveticaNeue", sans-serif;
//   font-size: 100%;
//   line-height: 1.2em;
// }

// h1, h2, h3, h4, p {
//   margin: 0;
//   margin-bottom: 0.5em;
// }

// a {
//   text-decoration: none;
//   color: #202020;
// }

// ul {
//   margin: 0;
//   padding: 0;
// }

// li {
//   list-style: none;
// }

// /*UTILITAIRES*/

// .table {
//   display: table;
//   width: 100%;
// }

// .cell {
//   display: table-cell;
// }

// .bouton {
//   display: block;
// }

// /*STRUCTURE*/

// .viewport {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   -webkit-transition: opacity .5s;
// }

// /*ZONE DE CONTENUS*/

// .page {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-color: #fff;
//   box-shadow: 0 0 20px rgba(0,0,0,0.5);
//   overflow-y: scroll;
//   overflow-x: hidden;
//   -webkit-overflow-scrolling: touch;
//   -webkit-transition: -webkit-transform .2s ease;
//   -webkit-transform-style: preserve-3d;
//   -webkit-transform: translate3d(0,0,0);
// }

// .page-inner {
//   margin: 50px 10px;
// }

// /*PAGE HOME*/

// .nav-main {
//   text-align: center;
// }

// .nav-main ul {
//   width: 90%;
//   margin: 0 auto;
// }

// .nav-main li {
//   margin: 1px 0;
// }

// .nav-main a {
//   padding: 15px 0;
//   background-color: #999;
//   font-weight: bold;
// }

// .nav-main a:active {
//   color: #fff;
// }

// /*LISTES DE CHAMPIGNONS*/

// .liste-champignons a {
//   display: block;
// }

// /* FILTRES */

// .filtres {
//   margin: 0 -10px;
//   background-color: #999;
// }

// .filtres .cell {
//   width: 33.333%;
// }

// .filtres a {
//   display: block;
//   padding: 6px 0;
//   text-align: center;
//   font-size: 0.7em;
//   text-transform: uppercase;
// }

// .filtres a:active {
//   font-weight: bold;
// }

// .filtres .on a {
//   font-weight: bold;
//   background-color: #666;
//   color: #fff;
// }

// /*CHAMPS RECHERCHE*/

// .search {
//   position: relative;
//   margin: 1px -10px;
//   padding: 10px 0;
//   background-color: #999;
// }

// .search .inner {
//   margin: 0 10px;
// }

// .search input {
//   display: block;
//   width: 97%;
//   padding: 4px 5px;
//   margin: 0 auto;
//   border: 0 none;
//   border-radius: 4px;
//   font-size: 0.8em;
// }

// .search .bouton {
//   display: none;
//   position: absolute;
//   width: 30px;
//   height: 30px;
//   right: 6px;
//   top: 50%;
//   margin-top: -15px;
//   background-image: url(images/close.png);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 60%;
//   opacity: 0.3;
// }

// .search .bouton:active {
//   opacity: 1.0;
// }

// /*VUE EN GRILLE*/

// .grille li {
//   width: 33.33%;
//   float: left;
//   font-size: 0.80em;
//   line-height: 1.1em;
// }

// .grille li:nth-child(3n+4) {
//   clear: left;
// }

// .grille li:last-child {
//   margin-bottom: 50px;
// }

// .grille .inner {
//   margin: 5%;
// }

// VUE EN LISTE

// .liste li {
//   border: 1px solid #aaa;
//   border-width: 1px 0;
//   clear: both;
//   margin-bottom: -1px;
// }

// .liste .inner {
//   margin: 5px 0;
//   display: table;
// }

// .liste .vignette, .liste .textes {
//   display: table-cell;
//   vertical-align: middle;
// }

// .liste .textes {
//   padding-left: 10px;
// }

// .liste .vignette {
//   width: 24%;
// }

// /*HEADER*/

// .content-header {
//   position: fixed;
//   top: -100px;
//   width: 100%;
//   background-color: #333;
//   color: #999;
//   z-index: 10;
//   -webkit-transition: all .2s;
// }

// .content-header h1 {
//   margin: 5px 10px;
//   line-height: 40px;
//   text-align: left;
//   font-size: 1.2em;
// }

// .header-tous .champignons {
//   display: none;
// }

// .header-tous .tous {
//   display: block;
// }

// .header-champignon .champignons {
//   display: block;
// }

// .header-champignon .tous {
//   display: none;
// }

// .content-header .table {
//   position: absolute;
//   top: 12px;
//   right: 10px;
//   width: auto;
// }

// .content-header a {
//   width: 24px;
//   height: 24px;
//   margin-left: 20px;
//   background-image: url(images/boutons-tous.png);
//   background-repeat: no-repeat;
// }

// .header-tous li + li a {
//   background-position: -50px 0;
// }

// .header-tous li + li + li a {
//   background-position: -100px 0;
// }

// .header-tous .on a {
//   background-position: 0 -50px;
// }

// .header-tous li + .on a {
//   background-position: -50px -50px;
// }

// .header-tous li + li + .on a {
//   background-position: -100px -50px;
// }

// .content-header .back {
//   background-position: -150px 0;
// }

// .content-header .on .back, .content-header .back:active {
//   background-position: -150px -50px;
// }

// .content-header .cueillette {
//   background-position: -200px 0;
// }
// .content-header .on .cueillette, .content-header .cueillette:active {
//   background-position: -200px -50px;
// }

// /*FOOTER*/

// .content-footer {
//   position: fixed;
//   width: 100%;
//   top: 100%;
//   background-color: #333;
//   z-index: 10;
//   -webkit-transition: all .2s linear;
// }

// .content-footer .cell {
//   text-align: center;
// }

// .content-footer a {
//   display: block;
//   padding: 10px 5px;
//   color: #aaa;
// }

// .content-footer .on a, .content-footer a:active {
//   color: #fff;
// }






