@import 'nib'
@import 'webfonts'
@import 'SMACSS/Base'
@import 'SMACSS/Layout'
@import 'SMACSS/Module'
@import 'SMACSS/State'
@import 'SMACSS/Theme'











/* HEADER to clean*/


.header-on {
  top: 0;
}

.header-tous .champignons {
  display: none;
}

.header-tous .tous {
  display: block;
}

.header-champignon .champignons {
  display: block;
}

.header-champignon .tous {
  display: none;
}

.header-tous li + li a {
  background-position: -50px 0;
}

.header-tous li + li + li a {
  background-position: -100px 0;
}

.header-tous .on a {
  background-position: 0 -50px;
}

.header-tous li + .on a {
  background-position: -50px -50px;
}

.header-tous li + li + .on a {
  background-position: -100px -50px;
}

.header-determiner .tous, .header-determiner .champignons {
  display: none;
}



.liste-champignons
  .familleChampignon
    display none


/* VUE EN LIST */

// #tous .page-inner,
// .slide

#tous,
.slide
  background: transparent url("images/paper-background.jpg") center center

a.inner
  color: $titreColor
  font: 120%  'fjalla_oneregular'

.liste
  margin: 0 0 80px
  li
    border-image:  url("images/li-border-bottom.png")  100% 0 0
    border-width: 2px
    border-right 0
    border-left 0
    centerBlock()
    clear: both

    &:last-child
      border-image: url("images/li-border-bottom.png") 100% 0 100% 0


.activeClass
  &:active
    // background: -webkit-linear-gradient(left, rgba(#e2e2e0, 0) 2%,rgba(#e2e2e0, .08) 3%,rgba(#e2e2e0, .12) 16%,rgba(#c4ce7b , .6) 32%,rgba($primary, .9) 50%,rgba(#c4ce7b , .6) 75%,rgba(#e2e2e0, .12) 90%,rgba(#e2e2e0, .08) 97%, rgba(#e2e2e0, 0) 98%)
    // color: $titreColor
    background: -webkit-linear-gradient(left, rgba($primary, .01) 2%,rgba($primary, .05) 3%,rgba($primary, .12) 16%,rgba($primary , .6) 32%,rgba($primary, .9) 50%,rgba($primary , .6) 75%,rgba($primary, .12) 90%,rgba($primary, .05) 97%, rgba($primary, .01) 98%)
    text-shadow: 0 1px 1px #fff





/*VUE EN LISTE*/

// .liste li {
//   // border: 1px solid #aaa;
//   // border-width: 1px 0;
//   // clear: both;
//   // margin-bottom: -1px;
// }

.liste .inner {
  margin: 5px 0;
  display: table;
}

.liste .vignette, .liste .textes {
  display: table-cell;
  vertical-align: middle;
}

.liste .textes {
  padding-left: 10px;
}

.liste .vignette {
  width: 24%;
}




/*VUE EN GRILLE*/

.grille li {
  width: 33.33%;
  float: left;
  font-size: 0.80em;
  line-height: 1.1em;
}


.grille li:nth-child(3n+4) {
  clear: left;
}

.grille li:last-child {
  margin-bottom 4.8em;
}

.grille .inner {
  margin: 5%;
}

.grille
  .nom
    text-align center

.text
  line-height 1.2

.nomLatinChampignon
  font-family "sofiaregular"

.familleChampignon
  font-size: .5em
  font-weight 100
  padding-right 17px
  text-align right

  .grille &
    padding-right 0

.nom
  span
    display: inline-block
    width:100%


.liste-champignons
  &.liste,
  &.grille
    li
      @extend  .activeClass



.slide-inner
  h2
    font-family fjalla_oneregular
    font-size 2em
    line-height: 1.2
    text-align center

  &>h3
    @extend .slide-inner h2
    font-family "sofiaregular"
    font-size 1.5em
    margin-bottom: .6em

  >div
    margin-bottom: .6em
    &>h3
      color $institut
      text-transform uppercase














/*PAGE CHAMPIGNON*/

.page-champignon .page-inner {
  margin: 60px 10px;
}
.page-champignon .diaporama {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}

.page-champignon .diaporama img {
  display: block;
  margin: 0 auto;
}

/* PAGE TOUS */

.page-tous .page-inner {
  margin: 50px 10px;
}

/*LISTES DE CHAMPIGNONS*/

.liste-champignons a {
  display: block;
}




.vignette img {
  max-width: 100%;
  height: auto;
}

/* FICHES CHAMPIGNON */

.page-champignon {
  overflow-y: hidden;
}

.page-champignon .slides {
  height: 100%;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  -webkit-transform: translate3d(0,0,0);
}

.page-champignon .slide {
  height: 100%;
  overflow-y: scroll;
  float: left;
  -webkit-transform: translate3d(0,0,0);
}

.page-champignon .slide-inner {
  margin: 0 10px;
  padding: 60px 0 80px;
  text-shadow: 1px 2px 0 #fff;
}

.slide-inner p {
  font-family: "scadaregular";
}


