.page::-webkit-scrollbar, .page-champignon .slide::-webkit-scrollbar {
	display: none;
}

.page-champignon > .currentSlide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: url("images/paper-background.jpg") center;
}

.sidebar {
	display: none;
}

.page-determiner ul {
	margin: 15% 6%;
}

.on .bouton .picto {
	background-position-y: -30px;
}

/*PAGE DETERMINER*/

#critere-selection-box {
	height: 100px;
	margin-bottom: 20px;
	-webkit-transition: margin-top .2s linear;
}

.critere-off {
	margin-top: -100px;
}

.critere-on {
	margin-top: 0;
}

.header-tous .determiner, .header-champignon .determiner {
  display: none;
}

/*POPUP TERME DU GLOSSAIRE*/

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	color: #fff;
}

.popup dl {
	margin: 70px 20px;
}