.page-champignon .slide::-webkit-scrollbar {
	display: none;
}

.page-champignon > .currentSlide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	/*background: url("images/paper-background.jpg") center;*/
}