.page::-webkit-scrollbar, .page-champignon .slide::-webkit-scrollbar {
	display: none;
}

.page-champignon > .currentSlide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: url("images/paper-background.jpg") center;
}

.sidebar {
	display: none;
}

.page-determiner ul {
	margin: 15% 6%;
}

.on .bouton .picto {
	background-position-y: -30px;
}