/*
  *   Theme
  */



.page-inner
  margin-top 50px
  // width 100%
  h1
    hidetext()
    background: url('images/logo-app.png');
    background-repeat:no-repeat
    background-size: contain
    background-position: center
    min-height: 106px


.logo
  background: url('images/logo-ik-creme.png');
  background-repeat:no-repeat
  background-size: contain
  centerBlock()
  width: 110px
  height: 100%

header,
footer
  height 110px

footer
  position: absolute
  bottom  0

.nav-main
  text-shadow: 0 2px 2px #000

  span
    margin-bottom: .2em
  ul
    width: 90%
    centerBlock()
  li
    border-image:  url("images/nav-main-hr.png")  100% 0 0
    border-width: 4px
    border-right 0
    border-left 0

    &:last-child
      border-image: url("images/nav-main-hr.png") 100% 0 100% 0

    &:active
      background: -webkit-linear-gradient(left, rgba($primary, 0) 2%,rgba($primary, .05) 3%,rgba($primary, .12) 16%,rgba($primary , .6) 32%,rgba($primary, .9) 50%,rgba($primary , .6) 75%,rgba($primary, .12) 90%,rgba($primary, .05) 97%, rgba($primary, 0) 98%)
      & a,
      & span
        color: $titreColor


  a
    color: $secondColor
    padding: 7px 0
    position: relative
    padding-left: 101px

    &:before
      content: ""
      display: block
      position: absolute
      width: 100px
      height: 100px
      background-repeat: no-repeat
      background-position: 0 0
      background-size: 50% auto
      clip: rect(0,50px, 50px, 0)
      left: 11%
      top: 0.25em

    &.tous:before
      background-image: url('images/icon-tous.png')
    &.aide:before
      background-image: url('images/icon-determiner.png')
    &.lecon:before
      background-image: url('images/icon-lecon.png')
    &.infos:before
      background-image: url('images/icon-infos.png')



// [class*="content"]


[class*="header-"]
  box-shadow 0 1px 5px $ombreHeaders



/*  CONTENT HEADER*/

.content-header
  position: fixed
  width: 100%
  height: 50px
  color:  $secondColor
  z-index: 10;
  -webkit-transition: all .2s
  background: transparent url('images/bois-brun-fonce.png')

  h1
    position: absolute
    left: 30px
    top: 10px
    width: 200px
    line-height: 40px;
    text-align: left;
    font-size: .9em
    margin-left 3em

  .picto
    position: absolute
    left -2.4em

  .titre
    position: absolute
    top: -10px

  .sous-titre
    position: absolute
    top: 4px



/*  CONTENT FOOTER */


.content-footer
  text-transform: uppercase
  position: fixed;
  width: 100%;
  height 60px
  top: 100%;
  z-index: 10;
  padding-top 7px
  -webkit-transition: all .2s linear
  background: transparent url('images/bois-brun-fonce.png')
  &.open
    box-shadow 0 -1px 5px $ombreHeaders

  ul
    width: 90%
    centerBlock()
  a
    display: block
    color: $primary
    padding: 3px 0
    white-space: nowrap
    font-size: 12px
    position: relative

    &:active
      color: $secondColor

  .on
    a
      color: $secondColor

  .cell
    text-align: center
    width: 22%
    &.cueillette
      width 34%

  .picto
    centerBlock()





/*CHAMPS RECHERCHE*/

.search
  position: relative
  margin: 0 -3.1%
  padding-top: .8em
  .inner
    margin: 0 3.1%
    position: relative

  input
    display block
    width: 100%
    padding: 4px 5px;
    margin: 0 auto;
    padding-left: 30px
    border: 2px solid #a8a29f;
    border-radius: 4px;
    font-size: 1.2em
    font-family: scadabold
    color: #534741
    box-shadow: inset 0 0 6px rgba(140,87,44,0.5)

    &:focus
      outline-color: lighten($ombreHeaders, 70%)
      border-color: $primary

  .loupe
    display block
    width 21px
    height 21px
    position: absolute
    background transparent url('images/search-21px.png') 0 0 no-repeat
    left: 6px
    top: 6px

  .bouton
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 50%;
    margin-top: -15px;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    opacity: 0.3
    &:active
      opacity: 1

input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.2);
}

/*  FILTRES */

.filtres
  font-family: 'fjalla_oneregular'
  font-size: 1em
  .table
    width: 100%;
    display: table
    .cell
      display: table-cell
      margin: 0
      width: 45%
      text-align: left
      + .cell
        width: 33%
        text-align: center
        + .cell
          text-align: right
          width: 22%
  a
    display block
    color lighten($titreColor, 60%)
    padding 10px 0
    white-space: nowrap
    overflow: hidden
    text-overflow: clip ellipsis
    text-transform uppercase
    margin: 6px 0
  a:active
      color: $primary

  .on
    a
      color $titreColor


/*  PAGE DETERMINER */

.page-determiner
  font-size 20px
  font-family "fjalla_oneregular"
  .liste-criteres
    width 90%
    margin 0 auto
    line-height 1.2
    // padding-bottom 70px

  .critere-off
    &+.liste-criteres
      margin-top 19%

  li
    border-image:  url("images/li-border-bottom.png")  100% 0 0
    border-width: 1.9px
    border-right 0
    border-left 0
    text-shadow: 0 1px 1px #fff
    &:last-child
      border-image: url("images/li-border-bottom.png") 100% 0 100% 0

.critere
  color $titreColor
  display block
  padding: .6em 0
  li > &
    @extend .activeClass

.libelle
  width  79.69%
  display block


[id="critere-selection-box"]
  background $primary
  color #fff
  width 100%
  // text-shadow: 0 1px 1px rgba(#000, .2)
  box-shadow 0 1px 5px $ombreHeaders
  position: relative
  line-height 1.2

  p
    padding 15px 22px 15px 50px


  .back-btn
    hidetext()
    display block
    width 40px
    height 40px
    position absolute
    margin-top -20px
    top 50%
    background: transparent url('images/header-icon-set.png') -160px -40px no-repeat




