/*
  *   Theme
  */



.page-inner
  margin-top 50px
  h1
    hidetext()
    background: url('images/logo-app.png');
    background-repeat:no-repeat
    background-size: contain
    background-position: center
    min-height: 106px


.logo
  background: url('images/logo-ik-creme.png');
  background-repeat:no-repeat
  background-size: contain
  centerBlock()
  width: 110px
  height: 100%

header,
footer
  height 110px

footer
  position: absolute
  bottom  0


.nav-main
  text-shadow: 0 2px 2px #000

  span
    margin-bottom: .2em
  ul
    width: 90%
    centerBlock()
  li
    border-image:  url("images/nav-main-hr.png")  100% 0 0
    border-width: 4px
    border-right 0
    border-left 0

    &:last-child
      border-image: url("images/nav-main-hr.png") 100% 0 100% 0

    &:active
      background: -webkit-linear-gradient(left, rgba($primary, 0) 2%,rgba($primary, .05) 3%,rgba($primary, .12) 16%,rgba($primary , .6) 32%,rgba($primary, .9) 50%,rgba($primary , .6) 75%,rgba($primary, .12) 90%,rgba($primary, .05) 97%, rgba($primary, 0) 98%)
      & a,
      & span
        color: $titreColor
      

  a
    color: $secondColor
    padding: 7px 0
    position: relative
    padding-left: 101px

    &:before
      content: ""
      display: block
      position: absolute
      width: 100px
      height: 100px
      background-repeat: no-repeat
      background-position: 0 0
      background-size: 50% auto
      clip: rect(0,50px, 50px, 0)
      left: 11%
      top: 0.25em

    &.tous:before
      background-image: url('images/icon-tous.png')
    &.aide:before
      background-image: url('images/icon-determiner.png')
    &.lecon:before
      background-image: url('images/icon-lecon.png')
    &.infos:before
      background-image: url('images/icon-infos.png')



[class*="content"]
  background: transparent url('images/bois-brun-fonce.png')


[class*="header-"]
  box-shadow 0 1px 5px $ombreHeaders



/*  CONTENT HEADER*/

.content-header
  position: fixed
  top: -100px
  width: 100%
  height: 50px
  color:  $secondColor
  z-index: 10;
  -webkit-transition: all .2s

  h1
    margin: 11px 10px;
    line-height: 40px;
    text-align: left;
    font-size: .9em
    position: relative
    margin-left 3em

  .picto
    position: absolute
    left -2.4em

  .titre
    position: absolute
    top: -10px

  .sous-titre
    position: absolute
    top: 4px



/*  CONTENT FOOTER */


.content-footer
  text-transform: uppercase
  position: fixed;
  width: 100%;
  height 60px
  top: 100%;
  z-index: 10;
  padding-top 7px
  -webkit-transition: all .2s linear
  &.open
    box-shadow 0 -1px 5px $ombreHeaders

  ul
    width: 90%
    centerBlock()
  a
    display: block
    color: $primary
    padding: 3px 0
    white-space: nowrap
    font-size: 12px
    position: relative
    
    &:active
      color: $secondColor

  .on
    a
      color: $secondColor

  .cell
    text-align: center
    width: 22%
    &.cueillette
      width 34%

  .picto
    centerBlock()





/*CHAMPS RECHERCHE*/

.search
  position: relative
  margin: 1px -10px
  padding-top: 10px
  .inner
    margin: 0 10px
    position: relative

  input
    display block
    width: 97%
    padding: 4px 5px;
    margin: 0 auto;
    border: 0 none;
    border-radius: 4px;
    font-size: 0.8em
    padding-left: 30px

    &:focus
      outline-color: lighten($ombreHeaders, 70%)

  .loupe
    display block
    width 22px
    height 22px
    position: absolute
    background transparent url('images/search-21px.png') 0 0 no-repeat
    left: 9px
    top: 2px

  .bouton
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 6px;
    top: 50%;
    margin-top: -15px;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    opacity: 0.3
    &:active
      opacity: 1


/*  FILTRES */

.filtres
  font-family: 'fjalla_oneregular'
  .cell
    // width (100/3)%
    margin-right 7px
    &:last-child
      margin-right 0
  a
    display block
    color lighten($titreColor, 60%)
    padding 6px 0
    text-align center
    font-size 14px
    text-transform uppercase
    margin-bottom 2px

  .on
    a
      color $titreColor


/*  PAGE DETERMINER */

.page-determiner
  font-size 20px
  font-family "fjalla_oneregular"
  ul
    width 90%
    margin 0 auto

  li
    border-image:  url("images/li-border-bottom.png")  100% 0 0
    border-width: 2px
    border-right 0
    border-left 0
    text-shadow: 0 1px 1px #fff
    // centerBlock()
    // clear: both

    &:last-child
      border-image: url("images/li-border-bottom.png") 100% 0 100% 0

.critere
  color $titreColor
  display block
  padding: 20px 0

.libelle
  width  79.69%
  display block









