<div data-role="header" data-position="fixed">
	<h1>Les champignons</h1>
</div>
<div data-role="content">
	<ul data-role="listview" data-inset="true" data-theme="b">
		<li><a href="#tous" data-transition="slide">Tous les champignons</a></li>
		<li><a href="#determiner">Aide à la détermination</a></li>
	</ul>
	<div data-role="collapsible-set" data-inset="true" data-theme="b" data-content-theme="d" data-iconpos="right">
		<div data-role="collapsible">
			<h3>Leçon de mycologie</h3>
			<ul data-role="listview">
				<li><a href="">Les bonnes pratiques</a></li>
				<li><a href="">Reconnaître les champignons</a></li>
				<li><a href="">Glossaire</a></li>
			</ul>
		</div>
		<div data-role="collapsible">
			<h3>Informations pratiques</h3>
			<ul data-role="listview">
				<li data-theme="e"><a href="#splash">Centres anti-poisons</a></li>
				<li><a href="#splash">À propos</a></li>
				<li><a href="#splash">Crédits</a></li>
			</ul>
		</div>
	</div>
</div>
