<div class="page-inner papier">
	<div id="list-header">
		<div class="search">
			<div class="inner">
				<i class="loupe"></i>
				<input type="text" placeholder="Rechercher"> <a href="#" class="bouton"></a>
			</div>
		</div>
		<div class="filtres">
			<ul class="table">
				<li class="cell"><a id="nom" href="nom">Par noms communs</a></li>
				<li class="cell"><a id="nomlatin" href="nomlatin">Par noms latins</a></li>
				<li class="cell"><a id="famille" href="famille">Par familles</a></li>
			</ul>
		</div>
	</div>
	<div id="list-view"></div>
</div>