<div class="page-inner">
	<header>
		<h1>Les champignons</h1>
	</header>

	<div class="nav-main">
		<ul>
			<li>
				<a class="bouton tous" href="#tous"><span classs="">Tous</span> les champignons</a>
			</li>
			<li>
				<a class="bouton aide" href="#determiner"><span classs="">Aide</span> à la détermination</a>
			</li>
			<li>
				<a class="bouton lecon" href="#lecon"><span classs="">Leçon</span> de mycologie</a>
			</li>
			<li>
				<a class="bouton infos" href="#infos"><span classs="">Infos</span> pratiques</a>
			</li>
		</ul>
	</div> <!-- /.nav-main -->
	<footer>
		<a href="" class="bouton logo"></a>
	</footer>
</div> <!-- /.page-inner -->
